html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    ;

}

    /*MAIN PART*/
    .first
    {width: 400px;
     font-size: 20px;   
        margin: 0 auto;
        padding: 10 10;
        text-align: center;}
    .bigdiv
    {background: #FFFFFF;
    width: 1200px;
    margin: 0 auto;
    font-size: 0px;
    text-align: center;
    box-sizing: border-box;}

    .inpart1
    {background: #FFFAFA;
    width: 397px;
    display: inline-block;
    font-size: 15px;
    vertical-align: top;}

    .part2
    {font-size: 0;}
    .inpart2
    {background: #F0FFF0;
    display: inline-block;
    width: 800px;
    font-size: 17px;
    vertical-align: top;}
    .inpart22
    {background: #F5FFFA;
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    width: 396px;
    height: 51px;}

    .part3
    {font-size: 0;}
    .inpart3
    {background: #F0FFFF;
    display: inline-block;
    width: 400px;   
    font-size: 16px;
    vertical-align: top;
    height: 50px;}
    .biginpart3
    {background: #F0F8FF;
    display: inline-block;
     width: 793px;   
    font-size: 0px;
    vertical-align: top;
    height: 50px;}
    .inpart33
    {background: #FFF5EE;
    width:793px; 
    font-size: 16px;
    vertical-align: top;}
    .inbig
    {background: #F5F5DC;
    display: inline-block;
    width:400px; 
    height: 32px;
    font-size: 16px;
    vertical-align: top;}
    .ininin
    {background: #FDF5E6;
    display: inline-block;
    width:388px; 
    font-size: 15px;
    vertical-align: top;}
    .part4
    {font-size: 0;
    display: inline-block;}
    .inpart4
    {background: #FFFAF0;
    display: inline-block;
     width: 800px;   
    font-size: 16px;
    vertical-align: top;}
    .inpart44
    {background: #B0C4DE;
        display: inline-block;
     width: 400px;   
    font-size: 0px;
    vertical-align: top;}
    .inpart444
    {background: #FFFFF0;
    display: inline-block;
     width: 198px;   
    font-size: 16px;
    vertical-align: top;}
    .inpart55
    {width: 400px;   
    font-size: 16px;
    vertical-align: top;}
    .partpart2
     {display: inline-block;
    font-size: 0px;
    vertical-align: top;}
    .ininpart4
    {background: #FAEBD7;
    display: inline-block;
    width: 392px;   
    font-size: 16px;
    height: 38px;
    vertical-align: top;}
    .part45
     {background: #FAF0E6;
    display: inline-block;
    width: 396px; 
    height: 55px; 
    font-size: 16px;
    vertical-align: top;}



    

        
     


    

    

    

   
    



